/* MAIN COLOR LAYOUT */
$light: #FFFFFF;
$gray1: #F8F8F8;
$gray2: #E5E5E5;
$main: #97B519;
$gray4: #54575F;
$gray3: #747884;
$gray5: #2D2E33;


/* FONT TYPE */
$fontPrimary: 'Inter', sans-serif;
$fontSecondary: 'Arial';